<contact-form></contact-form>
<br>
<h1>
  {{title}}
</h1>
<!-- Two-way binding: the old way
<input type="text" [value]="title" (input)="title=$event.target.value" /> -->

<!-- This new two-way binding combines prop binding AND event binding symbols  -->
<input type="text" [(ngModel)]="title" />

<input type="button" (click)="title=''" value="clear"/>
<button (click)="title=''">CLEAR</button>
Preview: {{title}}
<zippy title="Who can see my stuff?">
  Content of who can see my stuff
</zippy>
<zippy title="Who can contact me?">
  Content of who can see my stuff
</zippy>
<courses></courses>
<authors></authors>
<star [isStar]="post.isStar" (change)="onStarChange($event)"></star>
<heart
  [isLiked]="tweet.isLiked" [totalLikes]="tweet.totalLikes"
></heart>
<vote
  [voteCount]="vote.voteCount"
  [myVote]="vote.myVote"
  (change)="onVoteChange($event)"
></vote>
<switch></switch>
<pipe></pipe>
